---
import BaseLayout from "../../layouts/base_layout.astro";

const pageInfo = {
	// 検索エンジンの検索結果で表示されるタイトル（ headtitle + " | JEARN" で表示される）
	headtitle: "About JEARN",
	// ページのタイトル（ページ内で表示される）
	pagetitle: "Join us! / 入会申込み＋FAQ",
	// ページタイトルの背景色
	bgcolor: "#3B4FAC",
};
---

<BaseLayout {...pageInfo}>
	<h1>終了したイベント ー シンポジウム</h1>
	<h2>テストテスト</h2>
	<p>
		NPO 法人 ジェイアーン(正式名:特定非営利活動法人 グローバルプロジェクト推進機構 JEARN)は、
		世界 140 の国・地域の生徒・学生、教育者が参加する iEARN (アイアーン)の日本センターです。
		2003
		年、教育の情報化推進事業からスタートし、現在、”持続可能な社会の創り手を育てる学び”をめざして、”世界と共に学ぶ!”をスローガンに、
		アイアーンのグローバル・ネットワークを使ったプロジェクトベースの”国際協働学習”を通して、
		日本の子どもたちや若者たちに向けたグローバル・シティズンシップ教育を推進し、
		新しい未来の教育の形を、日本の教育現場で推進・普及している教育 NPOです。
	</p>
	<span><a href="#">→more</a></span>

	<h2>テスト2</h2>
	<p>
		ICTを活用して、小中高校生を対象に、世界の子どもたちと交わり、互いに学び合う国際協働学習を推進します。
	</p>
</BaseLayout>
