/* html, bodyの基本設定 */
html,
body {
	margin: 0; /* 余白をリセット */
	padding: 0; /* パディングをリセット */
	width: 100%; /* 幅を100%に設定 */
	height: 100%; /* 高さを100%に設定 */
	box-sizing: border-box; /* ボックスモデルをborder-boxに設定 */
	font-size: 16px; /* 基本フォントサイズを16pxに設定 */
	font-family: "UDDigiKyokasho ProN"; /* フォントファミリーを設定 */
	background-color: #fff; /* 背景色を白に設定 */
	color: #333; /* テキストカラーを濃いグレーに設定 */
	line-height: 1.6; /* 行間を設定 */
	-webkit-font-smoothing: antialiased; /* フォントの滑らかさを向上 */
	scroll-behavior: smooth; /* スクロールをスムーズに */
}

/* 全要素に box-sizing を継承 */
*,
*::before,
*::after {
	box-sizing: inherit; /* 親要素の box-sizing を継承 */
}

/* main要素のフォントサイズをレスポンシブに設定 */
main {
	font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem); /* 16pxから18pxの間でレスポンシブ */
}

/* 本文の余白設定 */
.page-content {
	padding: 0 clamp(0.938rem, -0.176rem + 5.57vw, 4rem); /* 15px~64pxの間でレスポンシブ */
	height: auto; /* 高さを自動調整 */
	text-align: justify; /* テキストを両端揃え */
}

/* リンクの初期化 */
a {
	text-decoration: none; /* 下線を削除 */
	color: inherit; /* 親要素の色を継承 */
}

/* main内とpagetopのリンクのスタイル */
main a, .pagetop:link {
	color: #3b4fac; /* リンクの色を青に設定 */
	cursor: pointer; /* ポインタを表示 */
	font-size: 1.2em; /* フォントサイズを1.2倍に設定 */
	font-weight: 400; /* フォントの太さを通常に設定 */
}

main a :visited {
	color: purple; /* 訪問済みリンクの色を紫に設定 */
}

main a, .pagetop:hover {
	color: red; /* ホバー時のリンクの色をオレンジに設定 */
}

main a, .pagetop:active {
	color: black; /* アクティブ時のリンクの色を赤に設定 */
}

/* h1要素のスタイル設定 */
h1 {
	font-size: clamp(1.188rem, 0.892rem + 1.48vw, 2rem); /* 19pxから32pxの間でレスポンシブ */
	font-weight: 400; /* フォントの太さを通常に設定 */
	font-style: normal; /* フォントスタイルを通常に設定 */
	padding: clamp(0.5rem, 2vw, 2rem) 0; /* 上下の余白を8pxから32pxの間でレスポンシブ */
	margin: 0 2.5rem; /* 左右の余白を40pxに設定 */
	width: 80vw; /* 幅を80%に設定 */
	height: auto; /* 高さを自動調整 */
	margin-left: auto; /* 左右中央揃え */
	margin-right: auto; /* 左右中央揃え */
	border-top: 1px solid #34b3e6; /* 上部に青いボーダーを追加 */
	border-bottom: 1px solid #34b3e6; /* 下部に青いボーダーを追加 */
	text-align: center; /* テキストを中央揃え */
	white-space: nowrap; /* テキストを折り返さない */
}

/* h2要素のスタイル設定 */
h2 {
	font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem); /* 18pxから24pxの間でレスポンシブ */
	font-weight: 400; /* フォントの太さを通常に設定 */
	margin: 0; /* 余白をリセット */
	padding: 2em 0 0.2em; /* 上下の余白を設定 */
	width: fit-content; /* コンテンツ幅に合わせる */
	height: auto; /* 高さを自動調整 */
	border-bottom: 1px solid #34b3e6; /* 下部に青いボーダーを追加 */
	text-align: left; /* テキストを左揃え */
	white-space: nowrap; /* テキストを折り返さない */
}

/* h2の次に続く要素の段落を下げる */
.page-content h2 ~ *:not(h2) {
	margin: 1em;
}
