---
import Toppage from '../layouts/Toppage.astro';
import Pageheading from "../components/Pageheading.astro";
---

<Toppage title="">
    <h1>Hello, Astro!</h1>
    <Pageheading text="Events / イベント情報" bgColor="#3BAC68" />
</Toppage>
