---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageInfo = {
	// 検索エンジンの検索結果で表示されるタイトル（ headtitle + " | JEARN" で表示される）
	headtitle: "About JEARN",
	// ページのタイトル（ページ内で表示される）
	pagetitle: "About us",
	// ページタイトルの背景色
	bgcolor: "#3B4FAC",
};
---

<BaseLayout {...pageInfo}>
	<h1>JEARN</h1>
</BaseLayout>
