---
import Header from '../components/Common/Header.astro';
import Footer from '../components/Common/Footer.astro';
const {title} = Astro.props
---
<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | JEARN</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<a href="#"><div class="pagetop">ページTOPへ</div></a>
		<Footer />
	</body>
</html>
<style>
	html {
    scroll-behavior: smooth;
	}
	
	a {
		outline: none;
		text-decoration: none;
	}
	
	a:link { color: #000; }
	a:visited { color: #000; }
	a:active { color: #000; }
	
	.pagetop{
		text-align: center;
        font-size: 24px;
		padding-bottom: 15px;
	}
</style>